@import './../../../assets/styles/colors.scss';
@import './../../../assets/styles/elements.scss';
@import './../../../assets/styles/animation.scss';

#close-window {
  cursor: pointer;
  position: absolute;
  top: $width * 0.05;
  right: $width * 0.05;
}
#close-window {
  width: $width * 0.08;
}

// Final score
#finalScore {
  height: $height;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

// input
#user-input {
  position: absolute;
  bottom: $height * 0.18;
  display: flex;
  justify-content: center;
}
#user-input .base-input {
  width: $width * 0.9;
  height: $height * 0.13;
  max-width: 95vw;
  font-size: $width * 0.066;
}

// Game button save
#save-score-btn {
  position: absolute;
  bottom: $height * 0.03;
  display: flex;
  justify-content: center;
}
#save-score-btn .base-btn {
  width: $width * 0.9;
  height: $height * 0.13;
  max-width: 95vw;
  font-size: $width * 0.066;
}
#save-score-btn .base-btn:hover {
  box-shadow: $shadow;
  cursor: pointer;
}

// MEDIA QUERIES
//===============================================
@media screen and (max-width: $width) {
  #save-score-btn {
    width: 85%;
    box-sizing: border-box;
    //bottom: 100vh * 0.03;
  }
  #save-score-btn .base-btn {
  }
  #save-score-btn .base-btn:hover {
  }
}
