@import './../../../assets/styles/colors.scss';
@import './../../../assets/styles/elements.scss';
@import './../../../assets/styles/animation.scss';

.close-window {
  top: $width * 0.05;
  right: $width * 0.05;
  width: $width * 0.08;
}

// Final score
#finalScore {
  height: $height;
  position: relative;
  display: block;
  text-align: center;
  box-sizing: border-box;
  padding-top: $height / 7;

  color: $default_light_brown;
  font-weight: normal;
}
#finalScore h1 {
  font-family: $FontLight;
  font-size: $width * 0.26;
}
#finalScore h2 {
  font-family: $FontLight;
  font-size: $width * 0.13;
}
#finalScore h3 {
  margin-top: 120px;
  font-family: $FontThin;
  font-size: $width * 0.05;
}

// input
#user-input {
  position: absolute;
  bottom: $height * 0.18;
  display: flex;
  justify-content: center;
}
#user-input .base-input {
  width: $width * 0.9;
  height: $height * 0.13;
  max-width: 90vw;
  font-size: $width * 0.066;
}

// Game button save
#save-score-btn {
  position: absolute;
  bottom: $height * 0.03;
  display: flex;
  justify-content: center;
}
#save-score-btn .base-btn {
  width: $width * 0.9;
  height: $height * 0.13;
  max-width: 95vw;
  font-size: $width * 0.066;
}
#save-score-btn .base-btn:hover {
  box-shadow: $shadow;
  cursor: pointer;
}

.disabled {
  opacity: 0.3;
  cursor: default !important;
}

// MEDIA QUERIES
//===============================================
@media screen and (max-width: $width) {
  .close-window {
    // top: $width * 0.05;
    // right: $width * 0.05;
    width: 25px;
    height: 25px;
  }
  .close-window img {
    width: 25px;
    height: 25px;
  }
  #user-input {
    width: $mobileWidth * 0.9;
    box-sizing: border-box;
  }
  #save-score-btn {
    width: $mobileWidth * 0.9;
    box-sizing: border-box;
  }
  #finalScore {
    height: $mobileHeight;
  }
  #finalScore h1 {
    font-size: 100px;
  }
  #finalScore h2 {
    font-size: $mobileWidth * 0.13;
  }
  #finalScore h3 {
    margin-top: $mobileHeight * 0.09;
    font-size: 20px;
  }

  #user-input {
    bottom: 120px;
  }
  #user-input .base-input {
    width: $mobileWidth * 0.9;
    height: $height * 0.1;
    font-size: $mobileWidth * 0.07;
  }

  #save-score-btn {
    bottom: 20px;
    width: $mobileWidth * 0.9;
  }
  #save-score-btn .base-btn {
    width: $mobileWidth * 0.9;
    height: $height * 0.1;
    font-size: $mobileWidth * 0.07;
  }
}
