@import '../../../../assets/styles/colors.scss';
@import '../../../../assets/styles/animation.scss';
@import '../../../../assets/styles/elements.scss';

#keyboard {
  width: $width * 0.9;
  margin: auto;
  display: grid;

  grid-template-columns: repeat(3, $width * 0.3);
  grid-template-rows: repeat(3, $width * 0.3);

  margin: 0 auto;
  margin-top: $width * 0.04;
  border: 3px solid $default_blue;

  transition-property: opacity;
  transition-duration: 0.3s;
}

.keyboard-btn {
  border-radius: 0;
  border-color: $default_blue;
  background-color: $default_dark_blue;

  color: $default_gray;
  font-size: $width * 0.15;
}
.keyboard-btn:hover {
  cursor: pointer;
}
.keyboard-btn:active {
  background-color: $default_blue;
}

.disabled {
  opacity: 0.2;
}
.disabled .keyboard-btn:hover {
  cursor: default;
}
.disabled .keyboard-btn:active {
  background-color: $default_dark_blue;
}

// MEDIA QUERIES
//===============================================
@media screen and (max-width: $width) {
  #keyboard {
    width: $mobileWidth * 0.69;
    grid-template-columns: repeat(3, $mobileWidth * 0.23);
    grid-template-rows: repeat(3, $mobileWidth * 0.23);

    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .keyboard-btn {
    font-size: $mobileWidth * 0.12;
  }
}
