@import './../../../assets/styles/colors.scss';
@import './../../../assets/styles/elements.scss';
@import './../../../assets/styles/animation.scss';

.main-wrapper {
  position: relative;
  display: block;
}

#display {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 60px auto 40px;
  width: $width * 0.26;
  padding: $width * 0.1;

  border: 3px solid $default_light_brown;
  border-radius: 5px;

  text-align: center;
  align-items: center;
}
.view {
  margin: auto;
  vertical-align: middle;
  text-align: center;

  font-family: $FontLight;
  font-size: $width * 0.26;
  line-height: $width * 0.26;
  color: $default_light_brown;
}

// MEDIA QUERIES
//===============================================
@media screen and (max-width: $width) {
  #display {
    width: $mobileWidth * 0.26;
    padding: $mobileWidth * 0.1;
  }
  .view {
    font-size: $mobileWidth * 0.26;
    line-height: $mobileWidth * 0.26;
  }
}
