$default_blue: #1f6f8b;
$default_dark_blue: #1c2b2d;
$default_gray: #99a8b2;
$default_light_brown: #e6d5b8;

$default_shadowcolor: #444;

//Gradient
$fromColor: $default_blue;
$toColor: $default_gray;
