@import './colors.scss';
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Medium.ttf');
}
@font-face {
  font-family: 'Roboto Regular';
  src: url('../fonts/Roboto-Regular.ttf');
}
@font-face {
  font-family: 'Roboto Thin';
  src: url('../fonts/Roboto-Thin.ttf');
}
@font-face {
  font-family: 'Roboto Light';
  src: url('../fonts/Roboto-Light.ttf');
}

// shadows
$shadow: 1px 1px 10px $default_shadowcolor;
$btn_shadow: 1px 1px 3px $default_shadowcolor;

// proportions [ figma 360 x 600 => 0,6]

$width: 500px;
$height: $width / 0.6;

// default font
$FontMedium: 'Roboto';
$FontRegular: 'Roboto Regular';
$FontThin: 'Roboto Thin';
$FontLight: 'Roboto Light';

// Wrapper base
.main-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

// button base
.base-btn {
  color: $default_light_brown;
  background-color: $default_blue;
  border: 3px solid $default_gray;
  font-family: $FontMedium;
  font-weight: normal;
  border-radius: 10px;
  box-sizing: border-box;
  outline: none;
}

.base-input {
  color: $default_light_brown;
  background-color: $default_dark_blue;
  border: 3px solid $default_blue;
  font-family: $FontRegular;
  font-weight: normal;
  border-radius: 10px;
  box-sizing: border-box;
  outline: none;
  padding: 0 15px;
}
.base-input::placeholder {
  color: $default_gray;
}

/*SCROLLBAR*/
/*====================================================*/
.custom-scrollbar {
  overflow-y: overlay;
}
.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: $default_light_brown;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-track-piece:end {
  background: transparent;
  //margin-bottom: 79px;
}
.custom-scrollbar::-webkit-scrollbar-track-piece:start {
  background: transparent;
  //margin-top: 63px;
}
/*=====================================================*/
