@import './colors.scss';
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Medium.ttf');
}
@font-face {
  font-family: 'Roboto Regular';
  src: url('../fonts/Roboto-Regular.ttf');
}
@font-face {
  font-family: 'Roboto Thin';
  src: url('../fonts/Roboto-Thin.ttf');
}

// shadows
$shadow: 1px 1px 10px $default_shadowcolor;
$btn_shadow: 1px 1px 3px $default_shadowcolor;

// proportions [ figma 360 x 600 => 0,6]

$width: 500px;
$height: $width / 0.6;

// default font
$FontMedium: 'Roboto';
$FontRegular: 'Roboto Regular';
$FontThin: 'Roboto Thin';

// Wrapper base
.main-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

// button base
.base-btn {
  color: $default_light_brown;
  background-color: $default_blue;
  border: 3px solid $default_gray;
  font-family: $FontMedium;
  border-radius: 10px;
  box-sizing: border-box;
  outline: none;
}

.base-input {
  color: $default_light_brown;
  background-color: $default_dark_blue;
  border: 3px solid $default_blue;
  font-family: $FontMedium;
  border-radius: 10px;
  box-sizing: border-box;
  outline: none;
  padding: 0 15px;
}
.base-input::placeholder {
  color: $default_gray;
}
